# 4.6 Merging and exporting data

### This script contains the following points:

#### 1. Importing data
#### 2. Merging dataset
#### 3. Exporting Data

In [20]:
# Import libraries

import pandas as pd
import numpy as np
import os
import pickle

#### 1.  Importing data

In [21]:
path = r"C:\Users\fardi\OneDrive\Desktop\CF\Data Immersion\Python Fundamentals for Data Analysts\06-09-2021 Instacart Basket Analysis"

In [22]:
orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [23]:
# view the data
orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both

In [24]:
orders_products_combined.shape

(32434489, 10)

In [25]:
orders_products_combined = orders_products_combined.drop('_merge',1)

In [26]:
orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,0.0,196,1,0
1,2539329,1,1,2,8,0.0,14084,2,0
2,2539329,1,1,2,8,0.0,12427,3,0
3,2539329,1,1,2,8,0.0,26088,4,0
4,2539329,1,1,2,8,0.0,26405,5,0

In [27]:
# Loading product dataset
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [28]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [29]:
# drop the unnamed colums
days_since_prior_order

In [30]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [31]:
df_prods.shape

(49672, 5)

#### 2. Merging dataset

In [32]:
# orders_products_merged = orders_products_combined.merge(df_prods, on = ['product_id'], how = 'left',indicator = True)

In [33]:
orders_products_merged = orders_products_combined.merge(df_prods, on = ['product_id'], how = 'inner',indicator = True)

In [34]:
orders_products_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [35]:
# checking if full merge
orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [36]:
orders_products_merged.shape

(32404859, 14)

#### 3. Exporting Data

In [37]:
# Export data to pkl
orders_products_merged .to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))